/*titulo*/

.box {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

/* Animación slide-top */
@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

.box {
    -webkit-animation: slide-top 2s ease-out;
            animation: slide-top 2s ease-out;
}
  

/*Navbar*/

.nav {
	-webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  @keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  

.nav {
    -webkit-animation: scale-up-hor-center 2s ease-out;
            animation: scale-up-hor-center 2s ease-out;
}

label {
  color: white;
  font-family: "mifuente";
}

/*Carrousel*/

.scale-up-ver-bottom {
	-webkit-animation: scale-up-ver-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }
  @keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }
  


  /*Burbujas*/

  .slide-right {
    opacity: 0; /* Inicialmente invisible */
    transform: translateX(-100px); /* Inicialmente desplazado a la izquierda */
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.slide-right.animate {
    opacity: 1; /* Hace visible el elemento */
    transform: translateX(0); /* Mueve el elemento a su posición original */
}
@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  

  .slide-left {
    opacity: 0; /* Inicialmente invisible */
    transform: translateX(100px); /* Inicialmente desplazado a la izquierda */
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.slide-left.animate {
    opacity: 1; /* Hace visible el elemento */
    transform: translateX(0); /* Mueve el elemento a su posición original */
}
@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  



  .slide-top {
    opacity: 0;
	-webkit-animation: slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-top.animate {
    opacity: 1; /* Hace visible el elemento */
    transform: translateX(0); /* Mueve el elemento a su posición original */
}

@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  

 
/*modal*/
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
